{% extends 'base.html' %}

{% block content %}
{{ super() }}
<!--Form mistakes are here-->
{% for message in get_flashed_messages() %}
<div class="row">
    <center><p style="color:green;"> {{ message }} </p></center>
</div>
{% endfor %}
<center><h4>Creating a new task</h4></center>
<div class="text-center">
    <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <form action="#" method="post" class="form" style="margin:40px;">
            <div class="mb-3">
                <label class="form-label">Title</label>
                <!-- Name of the task-->
                <input type="text" name="title" class="form-control" id="text" aria-describedby="emailHelp">

            </div>
            <div class="mb-3">
                <!-- Info for task -->
                <label class="form-label">Info for task</label>
                <textarea class="form-control" name="info" id="message"></textarea>

            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>
{% endblock  %}