{% extends 'base.html' %}

{% block content %}
{% if uncompleted_tasks %}
<center><h3>Tasks to do</h3></center>
<!--All uncompleted tasks-->
{% for task in uncompleted_tasks %}
<div class="container">
    <ul class="list-group" style="margin:30px;">
        <li class="list-group-item">
            <p><a href="{{ url_for('make_complete', id=task.id) }}" type="button" class="btn btn-dark">Mark as
                completed</a></p>
            <label class="form-check-label" for="firstCheckbox"><h5>{{ task.title }}</h5></label>
            <p>{{ task.info }}</p>
            <a href="{{ url_for('delete_task', id=task.id) }}"><i class="fa fa-trash" style="color:black;"></i></a>
        </li>
    </ul>
</div>
{% endfor %}
{% endif %}
{% if completed_tasks %}
<!--All completed tasks-->
<center><h3>Completed tasks</h3></center>
{% for task in completed_tasks %}
<div class="container">
    <ul class="list-group" style="margin:30px;">
        <li class="list-group-item">
            <label class="form-check-label" for="firstCheckbox"><h5>{{ task.title }}</h5></label>
            <p>{{ task.info }}</p>
            <a href="{{ url_for('delete_task', id=task.id) }}"><i class="fa fa-trash" style="color:black;"></i></a>
        </li>
    </ul>
</div>
{% endfor %}
{% else %}
<!--If there are no tasks at all-->
<center><h3>There are no completed tasks...</h3></center>
{% endif %}
<!--Deleting all the tasks-->
{% if completed_tasks or uncompleted_tasks %}
<center><a href="{{ url_for('delete_all') }}">
    <button type="button" class="btn btn-dark">Delete all tasks</button>
</a></center>
{% endif %}
{% endblock %}
